extends ../layouts/default

block content
	header.intro-header(style="background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url('/images/home-bg.jpg')")
		.container
			.row
				.col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
					.site-heading
						h1 For needy students
						hr.small
						span.subheading Join with us for this worthy cause
	// Main Content
	.col-lg-4.col.md-4.col-sm-12
		h2.colheading= home.section1.h5
		div.colcontent
			p!= home.section1.content
	.col-lg-4.col-md-4.col-sm-12
		h2.colheading= home.section2.h5
		div.colcontent
			p!= home.section2.content
	.col-lg-4.col-md-4.col-sm-12
		h2.colheading= home.section3.h5
		div.colcontent
			p!= home.section3.content
			
	.col-lg-4.col.md-4.col-sm-12
		h2.colheading= home.section4.h5
		div.colcontent
			p!= home.section4.content
	.col-lg-4.col-md-4.col-sm-12
		h2.colheading= home.section5.h5
		div.colcontent
			p!= home.section5.content
	.col-lg-4.col-md-4.col-sm-12
		h2.colheading
			| OUR MISSION
		div.colcontent
			p
				| hghg jhjh
	.container
		.row
			.col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
				.post-preview
					a(href='post.html')
						h2.post-title
							| Man must explore, and this is exploration at its greatest
						h3.post-subtitle
							| Problems look mighty small from 150 miles up
					p.post-meta
						| Posted by 
						a(href='#') Start Bootstrap
						|  on September 24, 2014
				hr
				.post-preview
					a(href='post.html')
						h2.post-title
							| I believe every human has a finite number of heartbeats. I don't intend to waste any of mine.
					p.post-meta
						| Posted by 
						a(href='#') Start Bootstrap
						|  on September 18, 2014
				hr
				.post-preview
					a(href='post.html')
						h2.post-title
							| Science has not yet mastered prophecy
						h3.post-subtitle
							| We predict too much for the next year and yet far too little for the next ten.
					p.post-meta
						| Posted by 
						a(href='#') Start Bootstrap
						|  on August 24, 2014
				hr
				.post-preview
					a(href='post.html')
						h2.post-title
							| Failure is not an option
						h3.post-subtitle
							| Many say exploration is part of our destiny, but it’s actually our duty to future generations.
					p.post-meta
						| Posted by 
						a(href='#') SIPHALA FOUNDATION
						|  on July 8, 2014
				hr
				// Pager
				ul.pager
					li.next
						a(href='#') Older Posts ?
	hr
