extends ../layouts/default

block content
	header.intro-header(style="background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url('/images/home-bg.jpg')")
		.container
			.row
				.col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
					.site-heading
						h1 For needy students
						hr.small
						span.subheading Join with us for this worthy cause
	// Main Content
	.col-lg-4.col.md-4.col-sm-12
		h2.colheading= home.section1.h5
		div.colcontent
			p!= home.section1.content
	.col-lg-4.col-md-4.col-sm-12
		h2.colheading= home.section2.h5
		div.colcontent
			p!= home.section2.content
	.col-lg-4.col-md-4.col-sm-12
		h2.colheading= home.section3.h5
		div.colcontent
			p!= home.section3.content
			
	.col-lg-4.col.md-4.col-sm-12
		h2.colheading= home.section4.h5
		div.colcontent
			p!= home.section4.content
	.col-lg-4.col-md-4.col-sm-12
		h2.colheading= home.section5.h5
		div.colcontent
			p!= home.section5.content
	.col-lg-4.col-md-4.col-sm-12
		h2.colheading
			| OUR MISSION
		div.colcontent
			p
				| hghg jhjh
	hr
